/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2017, 3:45:45 PM
    Author     : davidson
*/

.imgmostruario {
    width: 150px;
    height: 150px;
}